.floatleft {
    float:left;
    width:100px;
    min-height:20px;
    margin-right:5px;
    word-wrap: break-word;
}

.floatright{
    float:right;
    width:100px;
    min-height: 20px;
    word-wrap: break-word;
}

.rowtitle{
    width:100%;
    margin-bottom: 10px;
    margin-top:2px;
    margin-left:2px;
}

.row{
    width:100%;
    padding-bottom: 10px;
    padding-top: 10px;
}

.hover{
    background-color:#DDA0DD;
}

.coltitle{
    font-weight: bold;
}

#recipe_table{
    border: black solid 2px;
    border-radius: 5px;
    margin-right:auto;
    width:550px;
    padding:2px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.rowtitle2{
    width:70%;
    margin-bottom: 5px;
    margin-top:10px;
    margin-left:10px;
    margin-right: auto;
}

.row2{
    width:70%;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-left: 10px;
    margin-right:auto;
}

.floatleft2 {
    float:left;
    width:150px;
    min-height:20px;
    margin-right:5px;
    word-wrap: break-word;
    font-size: small;
}

.floatright2{
    float:right;
    width:150px;
    min-height: 20px;
    word-wrap: break-word;
    font-size: small;
}

.coltitle2{
    font-style: italic;
    font-size: small;
}

.ingr{
    display: none;
}

.delete{
    font-size: smaller;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: darkgray;
    border-radius: 3px;
    padding-top:2px;
    padding-bottom:2px;
    color: white;
    margin-bottom: 3px;
}

.hovebutton{
    background-color: darkgray;
    color: white;
    border-radius: 3px;
    width: 200px;
}

.hoverbutton{
    background-color: darkgray;
    color: white;
}

#showrecipes{
    display:none;
}

/*Добавление рецепта и статистика*/
#add, #stat{
    margin-right:auto;
    width:650px;
    padding:2px;
    padding-right:11px;
}

#add1, #eaten{
    float:left;
    width: 400px;
}
#add2, #statsearch{
    float:right;
    width: 250px;

}
#createres{
    clear:both;
    font-size: large;
    margin-top:10px;
    border: black solid 2px;
    border-radius: 5px;
    padding: 4px;
    text-align: center;
    width: 650px;
}
#title1, #eatentitle{
    text-align: center;
    padding:5px;
}
#title2, #statsearchtitle{
    text-align: center;
    padding:5px;
}

#ingrtable, #eatentable{
    width:383px;
    height:400px;
    margin-right:3px;
    margin-left:0px;
    border: black solid 2px;
    border-radius: 5px;
    padding:5px;
    overflow-y:auto;
}

#amount, #eatenamount{
    width:384px;
    margin-right:3px;
    margin-left:0px;
    border: black solid 2px;
    border-radius: 5px;
    padding: 2px;
    margin-top:5px;
    margin-bottom: 5px;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:5px;
    padding-right:5px;
}

#search, #statsearchinput{
    width:250px;
    margin-right:0px;
    margin-left:3px;
    border: black solid 2px;
    border-radius: 5px;
    padding: 2px;
    color: gray;
}
#foodtable, #statfoodtable{
    width:250px;
    height:494px;
    margin-right:0px;
    margin-left:3px;
    margin-top:5px;
    border: black solid 2px;
    border-radius: 5px;
    padding: 2px;
    margin-bottom: 5px;
    overflow-y: auto;
}
#add{
    display:none;
}
.visible{
    display: block;
}
.invisible{
    display: none;
}
.divfood, .recipestat, .foodstat{
    padding:2px;
    font-weight: initial;
}

.ingrrow{
    padding-top:5px;
    padding-bottom:5px;
    padding-left:2px;
    padding-right:2px;
}
.ingrcol{
    float:left;
    width:130px;
    word-wrap: break-word;
}
.ingrcolright{
    text-align: center;
    width:43px;
    float:right;
    margin-left: 2px;
}
.ingrtitle{
    font-style: italic;
    font-size: medium;
}

#name{
    width:384px;
    margin-right:3px;
    margin-left:0px;
    border: black solid 2px;
    border-radius: 5px;
    padding: 2px;
    margin-top:5px;
    margin-bottom: 5px;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:5px;
    padding-right:5px;
}
#nameinput{
    display:block;
    color: grey;
    width: 380px;
    margin-left: auto;
    margin-right: auto;
}

#amount100{
    margin-right: 5px;
}

#eatentable{
    height: 470px;
    overflow-y: auto;
}

#date{
    width:400px;
    margin-bottom: 5px;
}
#date input{
    margin-left:5px;
}

#date div{
    display: inline-block;
    margin-left: 5px;
    border-radius: 3px;
    border: black solid 1px;
    padding: 2px;
}

#statrecipes, #statfood{
    font-weight: bold;
    padding:2px;
}

.flr{
    float: right;
}

.fll{
    float: left;
}

.statinput{
    width:30px;
    margin-top: 4px;
    margin-bottom: 5px;
    margin-right: 18px;
}

.recipestat{

}

.textdivstat{
    width: 170px;
    word-wrap: break-word;
}

.adddiv{
    clear: both;
    background-color: darkgray;
    color: white;
    width:70px;
    margin-left:auto;
    text-align: center;
    border-radius: 2px;
    padding:1px;
    margin-right:1px;
}